/* my custom css */

/* level1 */
.main-menu-level-1 {
  position: relative;
}
/* level2 */
.main-menu-level-2 {
  margin: 0 !important;
}
.main-menu-level-2-container{
  position: absolute;
  left: 197px;
  top: -60px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  background:white;
  z-index:1;
}
.main-menu-level-2-container > div{
  border: 1px solid #3178a8 !important;
}
.main-menu-level-1.show_lvl_2 .main-menu-level-2-container{
    opacity: 1;
    visibility: visible;
}
.left-sidebar:before{
    content: '';
    background: rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.has_overlay{
    z-index: 8;
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    position: relative;
}
.main-menu-level-2-container > div{
    background: #fff;
    padding: 15px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    width: 400px;
    color: #6f8593 !important;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
}
.main-menu-level-1.show_lvl_2 .main-menu-level-2-container > div{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.main-menu-level-2-title{
    color: #19567f;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    margin-left: -15px;
    border-left: 3px solid #2c98cd;
    padding: 4px 0 4px 12px;
    cursor: default;
}
.main-menu-level-2-title > a {
  color: #2c98cd !important;
}
.menu-abc{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.menu-abc a{
    padding: 5px;
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 2px;
    margin: 0 5px 5px 0;
    width: 25px;
    text-align: center;
    line-height: 18px;
    color: #6f8593 !important;
    font-size: 13px;
    font-weight: 500;
}
.menu-abc a:hover{
    color:#fff !important;
    border-color:#2c98cd;
    background: #2c98cd;
}
.main-menu-level-2-container ul{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
}
.main-menu-level-2-container ul li{
    display: block;
    width: calc(50% - 7px);
    margin-bottom: 12px !important;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
}
.main-menu-level-2-container ul li:nth-child(2n){
    margin-left: 14px;  
}
.main-menu-level-2 a:hover{
    color:#2c98cd !important;
    text-decoration: underline;
}
.main-menu-level-2-footer{
    *background: #f0f4f8;
    margin: 15px -15px -15px;
    padding: 15px;
    border-top: 1px solid #ededed;
}

.main-menu-level-2-footer ul, .main-menu-level-2-footer ul li{
    margin: 0 !important;
    padding: 0 5px !important;
}
.main-menu-level-2-footer ul li:hover {
  background-color: #2c98cd !important;
}
.btn-primary-outline:hover {
  color: #fff !important;
}
.main-menu-level-2 a {
  color: #196da3 !important;
  font: 13px !important;
}
.main-menu-level-2 a + span{
    display: block;
    font-size: 11px;
    color: #9bafbb;
    font-weight: 400;
}
.main-menu-level-1.menu-about{
    display: none;
}

.left-block-menu {
  margin-top: 15px;
}
._fade {
  position: fixed;
  z-index: 6;
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.btn {
  padding: 10px 12px;
  margin-bottom: 0 !important;
  font-size: 13px !important;
  font-weight: normal !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  border-radius: 3px !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
  transition: all .2s ease !important;
}

.btn-block {
  display: block !important;
  width: 100% !important;
}

.btn-primary-outline {
  color: #2c98cd !important;
  background-color: transparent !important;
  border-color: #2c98cd !important;
}

.btn-primary-outline:active:hover {
  color: #fff !important;
  background-color: #2c98cd !important;
  border-color: #2c98cd !important;
}

.btn:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}

.btn-primary-outline:active {
  background-image: none !important;
}