/* Wrapper
----------------------------------------------------------------*/

body {
  height: 100%;
  overflow-y: scroll;
  -min-width:393px;
}

.layout {
  background: 
    linear-gradient(to bottom, #3177a8 11px, transparent 11px),
    linear-gradient(to bottom, rgba(214, 221, 227, 1), rgba(214, 221, 227, 0) 99px);
  background-repeat: repeat-x;
}

.wrapper {
  max-width: 1280px;
  min-width: 720px; /* 1008 */
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.layout-notify {
  text-align: center;
  background-color: #F9FAFB;
}


/* размещение основных блоков страницы start */

/* Maket header
----------------------------------------------------------------*/

.middle-header {
  width: 100%;
  padding: 0 0 100px;
  position: relative;
}

.middle-header:after {
  display: table;
  clear: both;
  content: '';
}

.header-container, .main-header {
  width: 100%;
  float: left;
  overflow: hidden;
}

.header-content {
  padding: 0 0 0 232px;
}

.header-sidebar {
  float: left;
  width: 212px;
  margin-left: -100%;
  padding-left: 10px;
  position: relative;
}

/* Maket middle
----------------------------------------------------------------*/
.middle {
  width: 100%;
  padding: 0 0 100px;
  position: relative;
}

.middle:after {
  display: table;
  clear: both;
  content: '';
}

.main-container {
  width: 100%;
  float: left;
  overflow: visible; /* не ставить hidden! это обрезает правую сторону на всем сайте! */
}

.content {
  padding: 0 10px 0 236px;
}


/* adn Sidebar */
.left-sidebar {
  float: left;
  width: 222px;
  margin-left: -100%;
  padding-left: 10px;
  position: relative;
}

.left-sidebar p {
  margin:0;
}


/* при печати левый блок убирается */
@media print {
    .left-sidebar, .header-sidebar, .topheader {
        display: none;
    }
}


/* размещение основных блоков страницы end */




/* Header
----------------------------------------------------------------*/
.header {
  height: 160px;
}

.topheader {
  width: 232px;
  height: 22px;
  margin-bottom: 5px;
}

.topheader div {
  float: left;
}
/* уголки по бокам topheader */
.left-header-corner {
  height: 22px;
  width: 10px;
  background: linear-gradient(to top right, 
    transparent 0%, 
    transparent 49.9%, 
    #3177a8 50%, 
    #3177a8 100%);
}
.right-header-corner {
  height: 22px;
  width: 10px;
  background: linear-gradient(to top left, 
    transparent 0%, 
    transparent 49.9%, 
    #3177a8 50%, 
    #3177a8 100%);
}

.topheader .center {
  width: 212px;
  background-color: #3178A8;
  text-align: center;
  font-size: x-small;
  color: white;
  height: 22px;
  font-weight: bold;
}

.topheader .center p {
  margin-top: 4px
}

.navbar-tog {
	display: none;
}

.bookashko-images {
  background: url("/img/sp_bukashka3.gif") no-repeat;
}

.bookashko-images-ny {
  background: url("/img/bkufony2014.gif") no-repeat;
}

.header__picture {
	width: 127px;
	height: 100px;
	background: url("/img/fl_ufo.svg") center center no-repeat;
	background-position: 0px 0px;
	float: left;
	margin-left: 7%;
	margin-right: 3%;
}

.header__picture.newyear {
	width: 127px;
	height: 100px;
	background: url("/img/bkufony.gif") center center no-repeat;
	background-position: 0px 0px;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}

.header__title {
	float: left;
	color: #c45e24;
	font-size: large; /*20px;*/
	font-weight: 700;
/*	padding-left: 20px;  */
	line-height: 25px;
	padding-top: 25px;
/*	background: url("/img/sp_bukashka3.gif") left center no-repeat; */
	background-position: 0px -125px;
	margin-right: 7%;
}
.header__title span {
	color: #000;
}



.bookashko-logo1 {
  width: 250px;
  float: left;
}

.bookashko-logo1 div {
  background-position: 0px 0px;
  width: 127px;
  height: 100px;
  margin: 0 auto;
}

.bookashko-logo2 {
  width: 14px;
  padding-bottom: 10px;
  float: left;
}

.bookashko-logo2 div {
  background-position: 0px -125px;
  width: 14px;
  height: 76px;
}

.bookashko-logo3 {
  width: 234px;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 30px;
  float: left;
  font-size: large;
}

.bookashko-logo4 {
  padding-top: 26px;
  width: 56px;
  text-align: right;
  float:left
}

.bookashko-logo4 div {
  width: 55px;
  height: 72px;
}

.bookashko-logo4-bklens1 {
  background-position: 0px -1233px;
  cursor: pointer;
}

.bookashko-logo4-bklens2 {
  background-position: 0px -1304px;
  cursor: pointer;
}

.search {
  padding-top: 32px;
  padding-right: 10px;
}

.search:before {
  -display: table;
  -content: " ";
}

.search {
  -clear: both;
}

.search > form > a {
  float: right;
  color: #3076a5;
  margin-right: 35px;
  margin-top: 2px;
}

.search__picture {
  float:left;
  padding-top: 0px;
  width: 56px;
  text-align: right;
  margin-top: -5px;
}
.search__picture div {
  width: 55px;
  height: 72px;
}


/* Footer
----------------------------------------------------------------*/
.footer {
  max-width: 1280px;
  m1in-width: 800px;
  margin: -100px auto 0;
  position: relative;
  padding-top: 8px;
  text-align: center;
}

.footer .footer-links {
  border-top: 1px dotted #204080;
  border-bottom: 1px dotted #204080;
  padding: 15px 0;
}

.footer .footer-about {
  font-size: 11px;
  color: gray;
}

.footer .footer-useful-links {
  margin-top: 5px;
  font-size: 12px;
  line-height: 2;
}

.footer-tickets td {
  vertical-align: middle;
}

/* Auth block
----------------------------------------------------------------*/
.user-reg-toptext { margin: 0; }

.user-reg {
  float: left;
  width: 212px;
  height: 100%;
  -padding-right: 10px;
}

.user-reg .column-left {
  float: left; width: 7px;
}
.user-reg .column-right {
  float: left; width: 205px;
}

.user-reg .title-left-edge {
  background-color: #3178A8; 
  margin-right: 1px; 
  padding-bottom: 2px;
}

.user-reg .empty-title-header {
  height: 4px; 
}

.user-reg .column-right .empty-title-header {
  width: auto; 
  border-left: 2px solid #C45E24;
}


.user-reg .title {
  width: auto;
  color: #FFF;
  border-left: 2px solid #C45E24;
}

.user-reg .title span {
  display: block;
  background-color: #3178A8;
  width: auto;
  margin-left: 1px;
  padding: 0 0 2px 8px;
}

.user-reg dl {
  padding: 2px 5px 4px 5px;
  border-bottom: 1px solid #D2E0E8;
  margin-bottom: 4px;
  margin-top: 0;
}

.user-reg dt {
  float: left;
  clear: left;
  padding-right: 6px;
  line-height: 14px !important;
}

.user-reg dd {
  margin: 0 0 0 90px;
  padding: 0 0 0.5em 0;
  margin-left: 75px;
  line-height: 14px !important;
}

.user-reg #pf-link {
  height: 16px;
  background: url("/img/sp_enter.png") no-repeat;
  padding-left: 23px;
  cursor: pointer;
  float: left;
}

.user-reg .exit {
  float: right;
}

.user-reg .portfolio {
  list-style: none;
  position: absolute;
  display: none;
  margin-top: 17px;
  margin-left: 2px;
  border: 1px solid #D2E0E8;
  border-left: 2px solid #C45E24;
  background-color: #fff;
  z-index: 10;
  padding-left: 0;
}

.user-reg .portfolio li {
  padding: 10px 8px;
  width: 400px;
  height: 34px;
  border-bottom: 1px dotted gray;
}

.user-reg .portfolio li:not(#pf-close):hover {
  background: #c55f2e;
  cursor: pointer;
}

.user-reg .portfolio li span {
  display: block;
  background: url("/img/sp_enter.png") no-repeat;
  padding-top: 1px;
  padding-left: 26px;
}

.user-reg .portfolio li i {
  font-style: normal;
  color: gray;
}

.user-reg .portfolio li:hover i {
  color: white;
}

.user-reg .portfolio li:not(#pf-close):hover a {
  text-decoration: none;
  color: white;
}

li#pf1 span { background-position: 0px -16px;   }
li#pf2 span { background-position: 0px -33px;   }
li#pf3 span { background-position: 0px -49px;   }
li#pf4 span { background-position: 0px -65px;   }
li#pf5 span { background-position: 0px -79px;   }
li#pf6 span { background-position: 0px -95px;   }

li#pf-close {
  background-color: #EFF1F5;
  border: 0;
}

li#pf-close span:first-child {
  background-position: 0px -114px;
  float: left;
}

li#pf-close span:last-child {
  background-position: 0px -128px;
  padding-left: 20px;
  float: right;
  cursor: pointer;
}

.auth-form div {
  width: 100%;
}

.auth-form .auth-form-button {
  text-align: right;
  margin-top: 5px;
}

.auth-form div + div {
  margin-top: 5px;
}

/* Left blocks
----------------------------------------------------------------*/
.left-block-title-container {
  display: flex;  
  cursor: pointer;
  background: linear-gradient(5deg, #c0cfd8 0px, rgba(128, 128, 0, 0) 25px);
}
.left-block-title-container:hover {
  background: linear-gradient(5deg, #9dd5fa 0px, rgba(128, 128, 0, 0) 25px);
}
.left-block-start {
  width: 7px; 
  border-bottom: 2px solid #447ca1;
}
.left-block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  padding: 5px 2px 2px 15px;
  font-weight: bold;
  color: #204050;
  border-left: 2px solid #D2E0E8;
  border-bottom: 2px solid #447ca1;
}
.left-block-title:hover {
  color: #1B3D5E;
}
.hidden-block-image {
  display: none;
}
.left-block-title-container:hover .hidden-block-image {
  display: inline;
}
.body-hidden .left-block-body {
    display:none;
}

.left-block-body {
  background-color: #F9FAFB;
  padding: 6px;
  border-left: 2px solid #C45E24;
  border-right: 1px solid #D2E0E8;
  border-bottom: 1px solid #D2E0E8;
  position: relative;
}
.user-reg .left-block-body {
  z-index: 5;
}
.left-block .left-block-body {
  margin-left: 7px; 
}

.pm-hr {
  margin: 6px 0;
  border-bottom: 1px solid gray;
  text-align: right;
  color: gray;
  font-size: 10px;
}

/* section links */

.left-block-menu {
  padding-top:25px;
}

ul#gmenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#gmenu li {
  margin: 0 4px;
  padding: 0;
  float: left;
}

#gmenu > li > a {
  padding-top: 5px;
  padding-left: 42px;
  display: block;
  width: 197px;
  height: 28px;
  background: url("/img/sp_gmenu15.svg") no-repeat;
  font: 11px Verdana, Arial;
  color: black;
}

#gmenu li ul {
  margin: -7px 8px 5px 42px;
  padding: 0 0 5px 16px;
  border-bottom: 1px solid #C45E25;
  border-right: 1px solid #C45E25;
}

#gmenu li ul li a {
  padding-top: 5px;
  padding-left: 0px;
  display: block;
  width: 139px;
  height: auto;
  background: none;
  font: 12px Verdana, Arial;
}

#gmenu li a:hover {
  color:#51636F;
  text-decoration:none;
}

#gmenu li a.l_a {
  font-weight:bold;
  text-align:right;
}

li#gmenu1 a { background-position: 0px 0px; }
li#gmenu2 a { background-position: 0px -28px; }
li#gmenu3 a { background-position: 0px -56px; }
li#gmenu4 a { background-position: 0px -84px; }
li#gmenu5 a { background-position: 0px -112px;}
li#gmenu6 a { background-position: 0px -140px;}
li#gmenu7 a { background-position: 0px -168px;}
li#gmenu8 a { background-position: 0px -196px;}
li#gmenu9 a { background-position: 0px -224px;}
li#gmenu10 a { background-position: 0px -252px;}

li#gmenu1 a.l:hover { background-position: -200px 0px;  }
li#gmenu2 a.l:hover { background-position: -200px -28px; }
li#gmenu3 a.l:hover { background-position: -200px -56px; }
li#gmenu4 a.l:hover { background-position: -200px -84px; }
li#gmenu5 a.l:hover { background-position: -200px -112px;}
li#gmenu6 a.l:hover { background-position: -200px -140px;}
li#gmenu7 a.l:hover { background-position: -200px -168px;}
li#gmenu8 a.l:hover { background-position: -200px -196px;}
li#gmenu9 a.l:hover { background-position: -200px -224px;}
li#gmenu10 a.l:hover { background-position: -200px -252px;}

li#gmenu1 a.l_a { background-position: -400px 0px;   }
li#gmenu2 a.l_a { background-position: -400px -28px; }
li#gmenu3 a.l_a { background-position: -400px -56px; }
li#gmenu4 a.l_a { background-position: -400px -84px; }
li#gmenu5 a.l_a { background-position: -400px -112px;}
li#gmenu6 a.l_a { background-position: -400px -140px;}
li#gmenu7 a.l_a { background-position: -400px -168px;}
li#gmenu8 a.l_a { background-position: -400px -196px;}
li#gmenu9 a.l_a { background-position: -400px -224px;}
li#gmenu10 a.l_a { background-position: -400px -252px;}



/* для tooltip - всплывалка */
#tt {
  position: absolute;
  display: block;
}
#ttcont {
  display: block;
  padding: 2px 12px 3px 7px;
  margin-left: 5px;
  background: #E9EDF0;
  color: #000;
  border: 1px solid #3178A8;
  width: 280px;
}

/* private messages */


/* bookcase block */

#bcase-left {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#bcase-left li {
  padding-left: 20px;
  margin-bottom: 10px;
}

#bcase-left.works li {
  background: url('/img/sp_bcase.png') left top no-repeat;
  background-position: 0px -100px;
}

#bcase-left.editions li {
  background: url('/img/sp_bcase.png') left top no-repeat;
  background-position: 0px -300px;
}

#bcase-left.films li {
  background: url('/img/sp_bcase.png') left top no-repeat;
  background-position: 0px -500px;
}

#bcase-left li a.x {
  display:block;
  background: url('/img/sp_bcase.png') center center no-repeat;
  background-position: 0px -40px;
  width: 10px;
  height: 10px;
  float: right;
}

#bl-bookcase .pm-hr {
  border-bottom: 1px dashed gray;
}

#autor-personal .pm-hr {
  margin: 3px 0;
  border-bottom: 1px dotted gray;
}

#autor-personal p {
  margin-top: 0;
  margin-bottom: 0;
}

.left_block {
  float: left;
  width: 49%;
  padding-right: 1%;
  border-right: dotted grey 1px;
}

.left_block  hr {
  border : 0px;
  border-bottom : dotted grey 1px;
}

.right_block {
  float: right;
  width: 50%;
}

.right_block  hr {
  border : 0px;
  border-bottom : dotted grey 1px;
}

.section {
  margin-bottom: 40px;
}

.footer {
  clear: both;
  height: 120px;
}

p {
  margin: 0;
}

.agray2 {
  color: #5060C0;
}

#letters {
    margin:0 4px;
    line-height: 180%;
}

#letters .pm-hr {
  border-bottom: 1px dotted gray;
  margin: 3px 0;
}




/* contact list */
ul#notice {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul#notice li {
  margin: 2px;
  padding-left: 18px;
  background: url("/img/sp_pm2.gif") no-repeat;
}

ul#notice a {
  color:#556D84;
}

ul#notice a b {
  color:blue;
}

#notice .pm_m       { background-position:0px -14px; }
#notice .pm_w       { background-position:0px -42px; }
#notice .pm_msg     { background-position:0px -70px; }
#notice .pm_msg_b   { background-position:0px -98px; }
#notice .pm_msg_r   { background-position:0px -126px; }
#notice .pm_msg_o   { background-position:0px -154px; }
#notice .pm_msg_f   { background-position:0px -182px; }
#notice .pm_sub     { background-position:0px -210px; }
#notice .pm_tck     { background-position:0px -238px; }
#notice .pm_day     { background-position:0px -266px; }

#notice .pm_m-o     { background-position:0px -294px; }
#notice .pm_w-o     { background-position:0px -322px; }
#notice .pm_msg-f   { background-position:0px -350px; }
#notice .pm_msg_b-f { background-position:0px -378px; }
#notice .pm_msg_r-f { background-position:0px -406px; }
#notice .pm_msg_s-f { background-position:0px -444px; }
#notice .pm_msg_f-f { background-position:0px -462px; }
#notice .pm_sub-f   { background-position:0px -490px; }
#notice .pm_tck-f   { background-position:0px -518px; }
#notice .pm_ozn     { background-position:0px -546px; }

#notice .pm_met     { background-position:0px -574px; }
#notice .pm_met-f   { background-position:0px -602px; }

ul#notice .pm_met-f a {
  color: #0c1de9;
}

#notice li a.online {
  font-weight: bold;
  color: #0c1de9;
}

#notice li a.online span{
  font-weight: normal;
}

#notice-noauth .add {
  display: block;
  float: right;
}







.formated-text p {
  text-align: justify;
  text-indent: 0.3in;
  margin: 0px;
  margin-top: 6px
}

/*
.left-block-body .editions {
  text-align:center;
}

.left-block-body .editions span {
  margin:0px 12px;
}
*/
.left-block-body .mark {
  text-align:right;
}





/* кастомные иконки в деревьях циклов - раньше было больше актуальных типов */
.li-custom-cycle-empty {
  list-style-image: url('/img/tree_cycle_empty.gif')
}
.li-custom-empty {
  list-style-image: url('/img/tree_cycle_empty.gif')
}
.li-custom-other {
  list-style-image: url('/img/tree_other2.gif')
}


/* кнопки редактора */
.buttonsline {
  padding:2px;
  background-color:#eeeeee;
  border-radius:4px;
  border-bottom:0;
  padding-bottom:0;
}
.buttonsline input {
  font-size:10px;
  margin-top:1px;
}

/* серии книжные полки */
.series-bookcases{
  color: rgb(158, 180, 199);
  padding: 10px 0px 0px 10px;
  background-image: url('/img/bookcase_flat.png');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 10px;
  padding-left: 23px;
  line-height: 18px;
  clear: both;
}

.series-bookcases a{
  color: white !important;
  background: #9eb4c7;
  padding: 2px 7px;
  border-radius: 10px;
  white-space: nowrap;
}

.series-bookcases a:hover{
  text-decoration: none;
  background: #728fa8;
  text-shadow: 1px 1px #3f5f7a;
}


/* аватарки */
.avatar {
  width:80px;
}

.avatar-container {
  margin-right:10px;
  margin-bottom:10px;
  border:1px solid black;
  border-top:1px solid #D2E0E8;
  border-left:1px solid #D2E0E8;
  background:white;
  padding:10px;
}

.avatar_m {
  width:30px;
  padding:4px;
}

.avatar-sex {
}

.avatar-class {
}

.avatar-login {
  white-space:nowrap;
}


/*  планы и новинки издательств */
.pubnews-td {
  padding-left:15px;
  padding-right:15px;
  border:1px dotted gray;
  cursor:pointer;
}

.pubnews-td:hover {
  background: #E1E6EC;
}

.pubnews-td.active {
  border:1px solid black;
  background:#FFE6BA;
  cursor:default;
}

.pubnews-td.new {
  border-left:3px solid #FF7E00;
}

.padding-bottom-more {
  padding-bottom: 6px;
}