.t_work_item {
  margin-bottom:6px;
}
.editions-blocks {
  display:table; 
  margin:10px 30px 0;
}
.nobr, .nowrap {
  white-space: nowrap;
}
#editions-onoff {
  text-align: right;
  cursor: pointer;
}
.autor-genre-div {
  display:table-cell;
  font-size:smaller;
  padding-left:2px;
}
.autor-genre-div.picture {
  background-image:url(/img/autorgenre2.jpg);
}
.autor-genres {
  padding-top:5px;
}
.autor-genres a {
  color:gray;
  font-size:smaller;
  padding-left:2px;
  cursor:pointer;
}
.autor-all-analogs-div .expand-a {
  color:gray;
  font-size:smaller;
  padding-left:2px;
  cursor:pointer;
}
