/* search page */ 
.bb {
  font-weight: bold;
}
.nn {
  font-weight: normal;
}

.search-block {
  clear: left;
}

.one {
  clear: left;
  padding: 0px 0px 7px 5px;
  overflow: hidden;
}
.one .live {
  -margin-left: 45px;
  margin-top: 3px;
}
.one .live span {
  display:inline;
  width:16px;
  height:11px;
  margin:0 3px 0 0;
}


.one .cover {
  float:left;
  text-align:center;
  padding-right:4px;
  padding-left:4px;
  padding-top:2px;
  margin-right:8px;
  margin-bottom:8px;
}
.one .cover a {
  position: relative;
  display: block;
  width: 36px; height: 50px;
  background-color: #fff;
  margin-bottom: 10px;
}

.one .cover img {
  max-width: 36px;
  max-height: 48px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.one .edition-green {
  border-top: 6px solid green;
}

.one .edition-orange {
  border-top: 6px solid orange;
}

.one .edition-red {
  border-top: 6px solid red;
}

.one .edition-gray {
  border-top: 6px solid gray;
}

.series .one .cover a,
.awards .one .cover a,
.publishers .one .cover a,
.articles .one .cover a {
  height:40px;
}
.one .autor {
  padding-top:3px;
  -margin-left: 45px;
}

.one .title {
  font-weight:bold;
  font-size:13px;
}
.autors .one .title,
.persons .one .title,
.films .one .title,
.articles .one .title {
  padding-top:5px;
}

.one .plus {
  -margin-left: 45px;
}
.one .line {
  border-bottom:1px dotted gray;
  padding-top:4px;
  margin-left:45px;
}
.autors .one .line {
  padding-top:12px;
}

.works .one .cover a {
  background: #f6f6f6 url('/img/sp_search2.svg') top center no-repeat;
  background-position: 0px -150px;
}

.works .one .cover.novel a      { background-position:0px -150px; }
.works .one .cover.cycle a, .works .one .cover.serial a, .works .one .cover.epic a, .works .one .cover.conditionalcycle a { background-position:0px 0px; }
.works .one .cover.collection a { background-position:0px -50px;  }
.works .one .cover.antology a   { background-position:0px -100px; }
.works .one .cover.story a, .works .one .cover.storyshortstory a { background-position:0px -200px; }
.works .one .cover.shortstory a { background-position:0px -250px; }
.works .one .cover.microstory a, .works .one .cover.disser a, .works .one .cover.excerpt a { background-position:0px -300px; }
.works .one .cover.comix a, .works .one .cover.manga a, .works .one .cover.graphicnovel a { background-position:0px -350px; }
.works .one .cover.article a, .works .one .cover.piece a, .works .one .cover.essay a, .works .one .cover.sketch a, .works .one .cover.reportage a, .works .one .cover.interview a, .works .one .cover.review a { background-position:0px -400px; }
.works .one .cover.poem  a, .works .one .cover.tale a { background-position:0px -450px; }
.works .one .cover.paper a, .works .one .cover.magazine a { background-position:0px -500px; }
.works .one .cover.scenario a   { background-position:0px -550px; }
.works .one .cover.film  a      { background-position:0px -550px; }

.works .one .autor, .works .one .title, .works .one .plus {
   margin-left: 52px;
}


.articles .one .cover a {
  background: #f6f6f6 url('/img/sp_search.gif') top center no-repeat;
  background-position: 0px -60px;
}

.terms .one .cover a {
  background: #f6f6f6 url('/img/sp_search2.svg') top center no-repeat;
  background-position: 0px -105px;
}

.worlds .one .cover a {
  background: #f6f6f6 url('/img/sp_search2.svg') top center no-repeat;
  background-position: -1px -609px;
}

.series .one .cover a {
  background: #f6f6f6 url('/img/sp_search2.svg') top center no-repeat;
  background-position: 0px -55px;
}

.publishers .one .cover a {
  background: #f6f6f6 url('/img/sp_search2.svg') top center no-repeat;
  background-position: 0px -667px;
}

.one-line .line, .one-line-spaced .line {
  border-bottom:1px dotted #ccc;
  margin-left:52px;
  float: left;
  width: 100%;
  margin-bottom:5px;
}
.one-line-spaced .line {
  margin-left:94px;
}

.more-link-block {
  padding:10px 20px;
}

.more-link-block a {
  display:block;
  width:220px;
  text-align:center;
  padding:6px;
  background-color: #B5CEE4;
  border-radius:5px;
}

.one .counter {
  float:left;
  text-align:right;
  padding-top:6px;
  width:30px;
  color:gray;
}

.one .rating {
  float:right;
  padding-top:5px;
}
