tr.table-row {
    background-color: #f9fafb;
}

td.head {
    color: white;
    background: url("/img/forumshead.gif");
}

td.cell {
    padding-right: 8px;
    border: 1px solid rgb(210, 224, 232);
}

td.pinned_left {
    background: linear-gradient(to bottom, #ced7dd 0px, rgba(128, 128, 0, 0) 15px);
}

td.pinned_main {
    background: linear-gradient(170deg, #ced7dd 0px, rgba(128, 128, 0, 0) 15px);
}

td.forum_post_body {
    border:1px solid #D8E1E6;
    border-top:4px solid #D8E1E6;
}

td.bottom_first_post {
    background-color: #D8E1E6;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
