#lightbox {
  background-color: #eee;
  padding: 10px;
  padding-top: 5px;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
}

#lightboxDetails {
  font-size: 0.8em;
  padding-top: 0.4em;
}

#lightboxCaption {
  text-align: center;
  font-size: 14px;
}

#originalLink {
  text-align: center;
}

#closeButton {
  top: 5px;
  right: 5px;
}

#lightbox img {
  border: none;
  clear: both;
}

#overlay img {
  border: none;
}

#overlay {
  background-image: url(/img/overlay.png);
}

* html #overlay {
  background-color: #333;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/overlay.png", sizingMethod="scale");
}
